<div class="consulta">
    <span> Consulta </span>
    
    
    <label for="">Paciente</label>
    <select name="tipo" id="tipo">
        <option value="">Joao Algusto</option>
        <option value="">Jose da Cruz</option>
    </select>

    <label for="">Medico</label>
    <select name="tipo" id="tipo">
        <option value="">Algusto Fernandes</option>
        <option value="">Jasmini da Cruz</option>
    </select>
    
    <label class = "descricao"for="">Descrição</label>
    <input class = "descricao"type="text">

    <label class = "status" for="">Status</label>
    <input class = "status" type="text">


    <button (click) = "salvar()"> Salvar</button>
    <button (click) = "cancel()">Cancelar</button>
</div>