.conteudo {
    max-width: 100%;
    margin: auto;
    min-height: calc(100vh - 160px);
}

button {
    width: 100px;
    margin: 5px auto;
    padding: 7px;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: #fff;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.6);
}
@media(max-width: 650px){
    .conteudo{
        margin: 10px 40px 10px 150px;    
    }

}
.consulta{
    border: solid black;
    border-radius: 12px;
    width: 50%;
    margin: 10px auto;
    padding: 10px 5px;
    display: grid;
}
.consulta span{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
}
.consulta select {
    font-size: 18pt;
    width: 91%;
    margin: 2px 0px 10px 0px;
}
.consulta input {
    font-size: 16pt;
    width: 90%;
    margin: 2px 0px 5px 0px;
}

@media(max-width: 650px){
    .consulta{
        min-width: 100%;
    }
}