<app-header></app-header>
<div class="conteudo">

    <div class="consulta" >
        <span> Consulta </span>

      
        
        <label > Paciente </label>
        <select name="pacient" id="paciente" [(ngModel)] = 'consultation.pacient'>
            <option *ngFor = 'let paciente of pacientes' value= '{{paciente._id}}'>
                {{paciente.name}}
            </option>
    </select>
    
    <label > Medico </label>
    <select name="medic" id="medico" [(ngModel)] = 'consultation.medic' >
        <option  *ngFor = 'let medico of medicos' value = '{{medico._id}}'>
            {{medico.name}}
        </option>
    </select>
    
    <!-- <label > Medico 2</label>
    <mat-form-field>
        <mat-select name = 'medic' placeholder = 'Selecione um medico'>
            <mat-option *ngFor='let medico of medicos' [value]="medico._id">
                {{medico.name}}
                <button (click) = 'algo()'> ...</button>
            </mat-option>
        </mat-select>
    </mat-form-field> -->

    
    <label class = "descricao"for="">Descrição</label>
    <input [(ngModel)] = 'consultation.description'
    class = "descricao"type="text" >
    
    
    
    <button (click) = "salvar()"> Salvar</button>
    <button (click) = "cancel()">Cancelar</button>
</div>
</div>
<app-footer></app-footer>