.receita{
    border: solid black;
    border-radius: 12px;
    width: 50%;
    margin: 10px auto;
    padding: 10px 5px;
    display: grid;
}
.receita span{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
}
.receita select {
    font-size: 18pt;
    width: 91%;
    margin: 2px 0px 10px 0px;
}
.receita input {
    font-size: 16pt;
    width: 90%;
    margin: 2px 0px 5px 0px;
}
.receita textarea{
    width: 90%;
}
@media(max-width: 650px){
    .receita{
        width: 100%;
    }
    .receita textarea{
        width: 90%;
    }
}