@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
.header {
    width: 100%;
    margin: 0;
}
    
.header .logo{
    background-color: rgb(114, 236, 199);
    font-family: 'Piedra', cursive;
    padding: 15px;
    font-size: 2rem;
    text-align: center;
}

.header .menu{
    display: flex;
    background-color: rgb(92, 84, 84);
    color: #fff;
    justify-content: space-between;
}

.menu p{
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    margin: 0px 10px;
    font-size: 1.2rem;
}

.menu p:hover{
    background-color: rgba(177, 173, 173, 0.6);
    font-size: 1.23rem;
}

.menu img {
    display: none;
}
.nav {
    display: none;
}
.menu p a{
    color: #fff;
    text-decoration: none;
}
@media(max-width: 650px){
    .menu img {
        display: block;
        margin: 5px;
        text-align: end;
        width: 50px;
    }
    .menu p{
        display: none;
    }
    .nav {
        display: block;
    }

}