<div class="header">
    <div class = "logo">
        Sua Saude
    </div>
    <div class = "menu">
        <!-- <img src="../../../assets/icons/menu.png" alt=""> -->
        <p>
            <a routerLink = "/home">Consultas</a>
        </p>
        <p>
            <a routerLink = "/pacientes-read">Paciente</a>
        </p>
        <p>
            <a routerLink = "/funcionario-read">Funcionario</a>
        </p>
        <p>
            <a routerLink = "/receita-read">Receita</a>
        </p>
        <p>
            <a routerLink = "/usuario">Minha Conta</a>
        </p>
    </div>
    <app-nav class = "nav"></app-nav>
</div>
