.home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.home button {
    background-color: rgb(43, 209, 181);
    position: block;
    font-size: 20pt;
    width: 200px;
}
.home button:hover{
    background-color: rgba(43, 209, 181, 0.7);
}

.consulta{
    border: solid;
    border-radius: 12px;
    padding: 5px;
    width: 200px;
    display: grid;
    margin: 10px;
}

.consulta span{
    text-align: center;
}

.consulta  img {
    width: 30px;
    position: absolute;
    margin-left: 160px;
    margin-top: 50px;
}
.consulta  img:hover{
    width: 29px;
}
.data {
    font-family: monospace;
    font-size: 16pt;
    color: rgb(9, 143, 148);
}


@media(max-width: 1024px){
    .home {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 800px){
    .home {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 650px){
    .home{
        grid-template-columns: 1fr;
    }
}