<div class="home">
    <div class="consulta">
        <span class="data">Data</span>
        <label class="nome">Nome</label>
        <label for="" class="medico">Medico</label>
        <label for="" class="horario">Horario</label>
        <label for="" class="status">Status</label>
    </div>
    
    <div class="consulta">
        <span class="data">Data</span>
        <label class="nome">Nome</label>
        <label for="" class="medico">Medico</label>
        <label for="" class="horario">Horario</label>
        <label for="" class="status">Status</label>
    </div>
    
    <div class="consulta">
        <span class="data">Data</span>
        <label class="nome">Nome</label>
        <label for="" class="medico">Medico</label>
        <label for="" class="horario">Horario</label>
        <label for="" class="status">Status</label>
    </div>
    <div class="consulta">
        <span class="data">Data</span>
        <label class="nome">Nome</label>
        <label for="" class="medico">Medico</label>
        <label for="" class="horario">Horario</label>
        <label for="" class="status">Status</label>
    </div>
    <div class="consulta">
        <span class="data">Data</span>
        <label class="nome">Nome</label>
        <label for="" class="medico">Medico</label>
        <label for="" class="horario">Horario</label>
        <label for="" class="status">Status</label>
    </div>
    <div class="consulta">
        <span class="data">Data</span>
        <label class="nome">Nome</label>
        <label for="" class="medico">Medico</label>
        <label for="" class="horario">Horario</label>
        <label for="" class="status">Status</label>
    </div>
    <div class="consulta">
        <span class="data">Data</span>
        <label class="nome">Nome</label>
        <label for="" class="medico">Medico</label>
        <label for="" class="horario">Horario</label>
        <label for="" class="status">Status</label>
    </div>
</div>