<div class = 'nav'>
    <p>
        <img src = "../../../assets/icons/home.png" alt = ""/>
        <a routerLink = "/home">Consultas </a>
    </p>
    <p>
        <img src = "../../../assets//icons/pacient.png" alt = ""/>
        <a routerLink = "/pacientes-read">Paciente</a>
    </p>
    <p><img src = "../../../assets//icons/medico.svg" alt = ""/>
        <a routerLink = "/funcionario-read">Funcionario</a>
    </p>
    <p><img src = "../../../assets/icons/calendario.png" alt = ""/>
        <a routerLink = "/agenda">Receita</a>
    </p>
    <p><img src = "../../../assets/icons/user.png" alt = ""/>
        <a routerLink = "/usuario">Minha Conta</a>
    </p>
</div>
