.nav{
    margin: 0;
    position: absolute;
    background-color: rgb(246, 242, 242);   
    width: 150px;
    padding: 10px;
    min-height: calc(100vh -160px); 
}

.nav p {
    font-size: 1rem;
    text-align: start;
}

.nav p img{
    width: 40px;
    vertical-align: middle;
}

.nav p a {
    color: rgb(71, 68, 68);
    margin-left: 10px;
    text-decoration:  none;
}

