<div class = 'nav'>
    <p>
        <img src = "../../../assets/icons/home.png" alt = ""/>
        <a routerLink = "/">Home </a>
    </p>
    <p>
        <img src = "../../../assets//icons/pacient.png" alt = ""/>
        <a routerLink = "/paciente">Paciente</a>
    </p>
    <p><img src = "../../../assets//icons/medico.svg" alt = ""/>
        <a routerLink = "/funcionario">Funcionarios</a>
    </p>
    <p><img src = "../../../assets/icons/calendario.png" alt = ""/>
        <a routerLink = "/login">Calendario</a>
    </p>
    <p><img src = "../../../assets/icons/user.png" alt = ""/>
        <a routerLink = "/usuario">Minha Conta</a>
    </p>
</div>
