<div class="funcionario">
    <span> Cadastro de Funcionario</span>
    
    <label for="">Nome</label>
    <input type="text">
    
    <label for="">Salario</label>
    <input type="text">
    
    <label for="">Cargo</label>
    <select name="tipo" id="tipo">
        <option value="">Recepcionista</option>
        <option value="">Medico</option>
    </select>
    
    <label class = "crm"for="">CRM</label>
    <input class = "crm"type="text">

    <label class = "cpf" for="">CPF</label>
    <input class = "cpf" type="text">

    <label for="">Email</label>
    <input type="text">

    <label for="">Telefone</label>
    <input type="text">

    <label for="">Endereço</label>
    <input type="text">

</div>