<app-header></app-header>
<div class="conteudo">

    <div class="consulta" >
        <span> Consulta </span>
    
        
    <label class = "descricao"for="">Paciente</label>
    <input [(ngModel)] = 'consulta.pacient'
    class = "descricao"type="text" >

    <label class = "descricao"for="">Medico</label>
    <input [(ngModel)] = 'consulta.medic'
    class = "descricao"type="text" >

    <label class = "descricao"for="">Status</label>
    <input [(ngModel)] = 'consulta.status'
    class = "descricao"type="text" >
    
    <label class = "descricao"for="">Descrição</label>
    <input [(ngModel)] = 'consulta.description'
    class = "descricao"type="text" >

    <button (click) = "update()">Atualizar</button>
    <button (click) = "cancel()">Voltar</button>
</div>
</div>
<app-footer></app-footer>