/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.conteudo {
    max-width: 100%;
    margin: auto;
    min-height: calc(100vh - 160px);
}
@media(max-width: 650px){
    .conteudo{
        margin: 10px 50px 10px 180px;    
    }

}

