<div class="usuario">
    <div>
        <img src="../../../assets/icons/user.png" alt="usuario">
        <span> Nome do usuario</span>
    </div>
    
    <label for="">Nome</label>
    <input type="text">
    
    <label for="">Sexo</label>
    <input type="text">
    
    <label for="">Email</label>
    <input type="text">

    <label for="">Telefone</label>
    <input type="text">

    <label for="">Endereço</label>
    <input type="text">

    <button (click) = "alterar()">Salvar</button>
    <button (click) = "cancel()">Cancelar</button>

</div>
