<app-header></app-header>
<div class="conteudo">

    <div class="usuario">
        <div>
        <img src="../../../assets/icons/user.png" alt="usuario">
        <span> Nome do usuario</span>
    </div>
    
    <label for="">Nome</label>
    <input type="text"disabled [(ngModel)] = 'usuario.nome'>
    
    <label for="">Email</label>
    <input type="email"disabled [(ngModel)] = 'usuario.email'>
    
    <label for="">Telefone</label>
    <input type="text"disabled [(ngModel)] = 'usuario.telefone'>
    
    <label for="">Endereço</label>
    <input type="text"disabled [(ngModel)] = 'usuario.endereco'>
    
    <label for="">Senha</label>
    <input type="password"disabled [(ngModel)] = 'usuario.senha'>

    <button (click) = "cancel()">Voltar</button>

</div>
</div>
<app-footer></app-footer>
