.usuario{
    border: solid black;
    border-radius: 12px;
    width: 50%;
    margin: 10px auto;
    padding: 10px 5px;
    display: grid;
}
.usuario div {
    display: flex;
    margin: 5px;

}
.usuario img {
    width: 50px;

}
.usuario div span{
    margin: 10px auto;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
}

.usuario input {
    font-size: 16pt;
    width: 90%;
    margin: 2px 0px 5px 0px;
}

@media(max-width: 650px){
    .usuario{
        min-width: 100%;
    }
}