<div class="usuario">
    <div>
        <img src="../../../assets/icons/user.png" alt="usuario">
        <span> Nome do usuario</span>
    </div>
    
    <label for="">Nome</label>
    <input type="text" [(ngModel)] = 'usuario.nome'>
    
    <label for="">Email</label>
    <input type="email" [(ngModel)] = 'usuario.email'>
    
    <label for="">Telefone</label>
    <input type="text" [(ngModel)] = 'usuario.telefone'>
    
    <label for="">Endereço</label>
    <input type="text" [(ngModel)] = 'usuario.endereco'>
    
    <label for="">Senha</label>
    <input type="password" [(ngModel)] = 'usuario.senha'>

    <button (click) = "alterar()">Salvar</button>
    <button (click) = "cancel()">Cancelar</button>

</div>
